/* .box {
    width:300px;
    height:300px;
    /* background-color: yellow; */
    /* margin: auto;

} */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:auto;
    display: flex;
    gap:50px;
    flex-wrap: wrap;
   
}
.box{
    width:200px;
    height:200px;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    border: 1px solid black;
}
 
#box1{
    background-color: yellow;
}
 
#box2{
    background-color: green;
}
#box3{
    background-color: blue;
}
#box4{
    background-color: aqua;
}
#box5{
    background-color: brown;
}
#box6{
    background-color: pink;
}
#box7{
    background-color: orange
}
#box8{
    background-color: purple;
}
 
#box9{
    background-color: gray;
}
 
.btn1{
    margin-top: 20px;
    border:2px;
    size: 30px;
    background-color:gray;
    padding:10px
}

.btn2{
    margin-top: 20px;
    border:2px;
    size: 30px;
    background-color:gray;
    padding:10px
}